<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.easy_book">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_launcher"
        android:label="易书"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ChatmenuActivity"></activity>
        <activity android:name=".ChatActivity" />
        <activity android:name=".MycollectionsActivity" />
        <activity android:name=".MyproductsActivity" />
        <activity android:name=".CardIdentifyActivity" />
        <activity android:name=".ModifyActivity" />
        <activity android:name=".ProductInfoActivity" />
        <activity android:name=".AddproductActivity" />
        <activity android:name=".MyInfoActivity" />
        <activity android:name=".SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ForgetpwdActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity">

        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>